.toVisualDiv{
    margin:20px 10px;
    background-color: #ffffff;
    border:2px solid #042650;
    border-radius: 2px;
    padding:10px;
}
.commandsLabel {
    display:block;
    width:100%;
}
.commandsButton{
    display: inline-block;
}