.citiesList{
    list-style: none;
    text-align: left;
}
.add{
    margin:auto;
    height: 1.5rem;
    width:1.5rem;
    background-image: url("../../../assets/icons/cells/add-green.png");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    cursor:pointer;
}
.left{
    text-align:left;
}