.inputCheck{
    display: inline-block;
    padding:0px 10px 10px 5px;
}

.inputCheck input{
    margin-left:5px;
}

.rowsOption p {
    display: inline-block;
    padding-right:10px;
}

.toVisualDiv{
    margin:20px 10px;
    background-color: #ffffff;
    border:2px solid #042650;
    border-radius: 2px;
    padding:10px;
    display: flex;
    align-items: flex-start ;
}
.buttonSelect{
    z-index: 10000;
}

.halfBox{
    width:50%;
    display: inline-block;
}

button{
    font-size: 16px;
    background-color: #388a7f;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    border-radius:2px;
    border:none;
    margin:0 10px;
    padding:5px 15px;
    margin-bottom:10px;
    cursor: pointer;
}

.contextMenu{
    background-color: #ffffff;
    border: 1px #042650 solid;
    padding:1rem;
}