.inputCheck{
    display: inline-block;
    padding:0px 10px 10px 5px;
}

.inputCheck input{
    margin-left:5px;
}

.rowsOption p {
    display: inline-block;
    padding-right:10px;
}

.toVisualDiv{
    margin:20px 10px;
    background-color: #D4D6B9;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 0px 7px 2px #66717E;
    padding:10px;
    display: flex;
    align-items: flex-start ;
}
.buttonSelect{
    z-index: 10000;
}

.halfBox{
    width:50%;
    display: inline-block;
}