.inputCheck{
    display: inline-block;
    padding:0px 10px 10px 5px;
}

.inputCheck input{
    margin-left:5px;
}

.rowsOption p {
    display: inline-block;
    padding-right:10px;
}

.toVisualDiv{
    margin:20px 10px;
    background-color: #ffffff;
    border:2px solid #042650;
    border-radius: 2px;
    padding:10px;
    display: flex;
    align-items: flex-start ;
}

.buttonSelect{
    z-index: 10000;
}

button{
    font-size: 16px;
    background-color: #388a7f;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    border-radius:2px;
    border:none;
    margin:0 10px;
    padding:5px 15px;
    margin-bottom:10px;
    cursor: pointer;
    z-index: 1000;
}
/*context menu styles*/
.contextMenu{
    background-color: #ffffff;
    border: 1px #042650 solid;
    z-index: 10;
    margin-top: 1.3rem;
    text-align: center;
    width:100%;
    padding:0;
    border-radius:2px;
}

.contextMenu li {
    padding:0.3rem;
}

.contextMenu li:hover {
    background-color: rgba(56, 138, 127, 0.5);
}

.selectedDiv {
    width:100%;
    height:2rem;
}

.hideContext{
    position:absolute;
    width:100vw;
    height:100%;
}

.selectedDiv{
    color:#388a7f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:0.3rem;
}