.overlay{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.showPanel{
    background-color: white;
    border-radius:2px;
    padding:1rem 2rem 2rem 2rem;
    z-index:200;
    display: inline-block;
    width:600px;
}


.checkContainer{
    width:50%;
    display: inline-block;
    margin: 0.2rem 0;
}