.getContainer{
    width: calc(100% - 30px);
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}
.getModeDiv{
    position:relative;
    left:0;
    width:calc(50% - 40px);
    margin:20px 10px;
    background-color: #ffffff;
    border:2px solid #042650;
    border-radius: 2px;
    padding:20px;
    transition: 0.2s;
}

