.getContainer{
    width: calc(100% - 30px);
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}
.getModeDiv{
    position:relative;
    left:0;
    width:calc(50% - 40px);
    margin:20px 10px;
    background-color: #D4D6B9;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 0px 7px 2px #66717E;
    padding:20px;
    transition: 0.2s;
}

.viewTableCTA{
    font-size: 20px;
    background-color: #383B53;
    font-weight: bold;
    color:#D1CAA1;
    display: inline-block;
    border-radius:5px;
    float:right;
    margin-right:20px;
    padding:5px 15px;
    margin-bottom:20px;
    box-shadow: 0px 0px 7px 2px #66717E;
}