.modTableDiv{
    margin:20px 10px;
    background-color: #ffffff;
    border:2px solid #042650;
    border-radius: 2px;
    padding:10px;
    padding:10px;
    overflow: auto;
}

.resetSave{
    float:right;
}

.saveButton{
    background-color: #388a7f;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    padding:5px 15px;
    border-radius:2px;
    margin-top:15px;
    margin:0 20px;
    cursor:pointer;
}
.resetButton{
    background-color:  #D1CAA1;
    font-weight: bold;
    color:#383B53;
    display: inline-block;
    padding:5px 15px;
    border-radius:5px;
    margin-top:15px;
    box-shadow: 0px 0px 5px 1px #66717E;
    margin:0 20px;
    cursor:pointer;
}